In [7]:
# load data
import pandas as pd
from sklearn.datasets import load_boston
Boston = load_boston()
print(Boston.data.shape)

(506, 13)

In [4]:
Boston.data.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [8]:
data = pd.DataFrame(Boston.data)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [2]:
print('Python is really cool!')

Python is really cool!